In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.preprocessing import LabelEncoder

from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
X = df.drop(columns=['RowNumber','CustomerId','Surname','Exited'])
y = df.Exited

In [7]:
# Encoding Gender and making dummy variables for Geography

le_2 = LabelEncoder().fit(X.Gender)
X.Gender = le_2.fit_transform(X.Gender)

X = X.join(pd.get_dummies(X.Geography)).drop(columns=['Geography','Spain'])

In [8]:
# Splitting

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
# # Scaling

# sc = StandardScaler()
# X_train = sc.fit_transform(X_train)
# X_test = sc.transform(X_test)

In [11]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [22]:
classifier = Sequential()
#First Hidden Layer
classifier.add(Dense(4, activation='relu', kernel_initializer='random_normal', input_dim=11))
#Second  Hidden Layer
classifier.add(Dense(4, activation='relu', kernel_initializer='random_normal'))
#Output Layer
classifier.add(Dense(1, activation='sigmoid', kernel_initializer='random_normal'))

In [23]:
#Compiling the neural network
classifier.compile(optimizer ='adam',loss='binary_crossentropy', metrics =['accuracy'])

In [25]:
#Fitting the data to the training dataset
classifier.fit(X_train,y_train, batch_size=10, epochs=25)

Epoch 1/25
8000/8000 [==============================] - 2s 214us/step - loss: 0.4991 - acc: 0.7960
Epoch 2/25
8000/8000 [==============================] - 2s 209us/step - loss: 0.4989 - acc: 0.7960
Epoch 3/25
8000/8000 [==============================] - 2s 207us/step - loss: 0.5006 - acc: 0.7960
Epoch 4/25
8000/8000 [==============================] - 2s 205us/step - loss: 0.4995 - acc: 0.7960
Epoch 5/25
8000/8000 [==============================] - 2s 204us/step - loss: 0.4993 - acc: 0.7960
Epoch 6/25
8000/8000 [==============================] - 2s 204us/step - loss: 0.4993 - acc: 0.7960
Epoch 7/25
8000/8000 [==============================] - 2s 204us/step - loss: 0.4994 - acc: 0.7960
Epoch 8/25
8000/8000 [==============================] - 2s 205us/step - loss: 0.5004 - acc: 0.7960
Epoch 9/25
8000/8000 [==============================] - 2s 209us/step - loss: 0.4984 - acc: 0.7960
Epoch 10/25
8000/8000 [==============================] - 2s 204us/step - loss: 0.4987 - acc: 0.7960
Epoch 11/25
8000/8000 [==============================] - 2s 205us/step - loss: 0.4995 - acc: 0.7960
Epoch 12/25
8000/8000 [==============================] - 2s 204us/step - loss: 0.4989 - acc: 0.7960
Epoch 13/25
8000/8000 [==============================] - 2s 204us/step - loss: 0.4990 - acc: 0.7960
Epoch 14/25
8000/8000 [==============================] - 2s 206us/step - loss: 0.4987 - acc: 0.7960
Epoch 15/25
8000/8000 [==============================] - 2s 213us/step - loss: 0.4985 - acc: 0.7960
Epoch 16/25
8000/8000 [==============================] - 2s 216us/step - loss: 0.4987 - acc: 0.7960
Epoch 17/25
8000/8000 [==============================] - 2s 206us/step - loss: 0.4989 - acc: 0.7960
Epoch 18/25
8000/8000 [==============================] - 2s 205us/step - loss: 0.4989 - acc: 0.7960
Epoch 19/25
8000/8000 [==============================] - 2s 206us/step - loss: 0.4992 - acc: 0.7960
Epoch 20/25
8000/8000 [==============================] - 2s 206us/step - loss: 0.4994 - acc: 0.7960
Epoch 21/25
8000/8000 [==============================] - 2s 205us/step - loss: 0.4990 - acc: 0.7960
Epoch 22/25
8000/8000 [==============================] - 2s 209us/step - loss: 0.4996 - acc: 0.7960
Epoch 23/25
8000/8000 [==============================] - 2s 205us/step - loss: 0.4993 - acc: 0.7960
Epoch 24/25
8000/8000 [==============================] - 2s 204us/step - loss: 0.4993 - acc: 0.7960
Epoch 25/25
8000/8000 [==============================] - 2s 206us/step - loss: 0.5005 - acc: 0.7960

In [26]:
eval_model=classifier.evaluate(X_train, y_train)
eval_model

8000/8000 [==============================] - 0s 33us/step

[0.49720642071962357, 0.796]

In [27]:
y_pred=classifier.predict(X_test)
y_pred =(y_pred>0.5)

In [28]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[1595    0]
 [ 405    0]]